/*
------ Table of contents ------
..Window while on Awards page
..Awards page header
..Awards page main section
..Media queries
*/

/* Window while on Awards page */
body,
.nomineeListSection {
	overflow: -moz-scrollbars-none;
	-ms-overflow-style: none;
}
body::-webkit-scrollbar,
.nomineeListSection::-webkit-scrollbar {
	width: 0;
}

/* Awards page header */
.themeHasGuessed-true {
	color: #fff
}
.themeHasGuessed-false {
	color: #000
}

.apiCompliance {
	/* Layout */
	display: flex;
	justify-content: flex-end;
	gap: 11px;
	position: fixed;
	top: clamp(5.75rem, 18.4vw, 12.25rem);
	right: 4.7vw;
	/* Design */
	font-family: HelveticaNeueMedium, sans-serif;
	font-size: clamp(0.5rem, 1.6vw, 0.6rem);
}

.apiCompliance span {
	text-align: right;
	display: block;
	line-height: 1;
	align-self: center;
}

/* Awards page main section */
.nomineeListSection {
	/* Scroll vertically to move horizontally */
	width: 68vh;
	height: 100vw;
	padding-right: 3rem;
	overflow-y: auto;
	overflow-x: hidden;
	transform: rotate(-90deg) translateY(-37.17%);
	transform-origin: right top;
	/* Layout */
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	position: fixed;
	top: clamp(10rem, 25vw, 14rem);
	/* Design */
	background-color: transparent;
}

.nominee {
	/* Scroll vertically to move horizontally */
	height: auto;
	max-width: 200px;
	transform: rotate(90deg) translateX(172%);
	transform-origin: right top;
	/* Layout */
	box-sizing: content-box;
	padding: 1.5rem 1.5rem 0.5rem;
	border: 1px solid #d3d3d3;
	display: flex;
	flex-direction: column;
	/* Design */
	background-color: #fff;
	border-radius: 5px;
	transition: box-shadow 0.2s ease, border 0.2s ease;
}
.nominee:hover {
	transition: box-shadow 0.2s ease;
	box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
}

/* Media queries */
@media all and (min-width: 768px) {
	.nomineeListSection {
		/* transform: rotate(-90deg) translateY(-315px); */
	}

	.playAndVoteButtonArea {
		/* display: none; */
	}

	.nomineeImgArea {
		filter: drop-shadow(0px 16px 16px rgba(0, 0, 0, 0.2));
	}
}
