/* HOME AND ABOUT PAGE LAYOUT */
.textPage {
	/* border: 1px solid red; */
	padding: 0 12.5vw;
	margin-top: 13rem;
}

.textPage p {
	margin: 3rem 0;
}

.textPage p:first-of-type {
	margin-top: 0;
}
/* END OF HOME AND ABOUT PAGE LAYOUT */

/* ABOUT PAGE ELEMENTS DESIGN */
.textPage p {
	font-family: HelveticaNeueRoman, sans-serif;
	font-size: 1.5rem;
	line-height: 1.4;
}

.textPage p:first-of-type {
	font-size: 2rem;
	font-family: HelveticaNeueMedium, sans-serif;
	line-height: 1.3;
}

.textPage a {
	color: #878787;
}

.textPage a:hover {
	text-decoration-thickness: 0.2rem;
	text-underline-offset: 0.2rem;
}
/* END OF ABOUT PAGE ELEMENTS DESIGN */

/* CODIGO NOVO DO DUDA */
.featureList {
	list-style-type: none;
	margin: 0;
	display: flex;
	gap: 2rem;
	flex-direction: column;
	margin: 3.75rem 0;
}

.featureItem {
	height: 8rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.featureName {
	font-family: HelveticaNeueMedium, sans-serif;
	/* font-size: clamp(2rem, 3.5vw, 2.5rem); */
	font-size: 2rem;
	display: block;
}

.featureItem span:not(.featureName) {
	font-family: HelveticaNeueRoman, sans-serif;
	font-size: 1.25rem;
	letter-spacing: 0.25px;
	/* font-size: clamp(0.9rem, 2.2vw, 1.8rem); */
}

@media screen and (min-width: 390px) {
	.featureList {
		gap: 1rem;
	}
}

@media (min-width: 768px) {
	.featureList {
		flex-direction: row;
		justify-content: space-between;
	}

	.featureItem {
		max-width: 15rem;
	}
}
