/* HOME AND ABOUT PAGE LAYOUT */
.textPage {
	/* border: 1px solid red; */
	padding: 0 12.5vw;
	margin-top: 9rem;
}

.textPage p {
	margin: 3rem 0;
}

.textPage p:first-of-type {
	margin-top: 0;
}
/* END OF HOME AND ABOUT PAGE LAYOUT */


/* ABOUT PAGE ELEMENTS DESIGN */
.textPage p {
	font-family: HelveticaNeueRoman, sans-serif;
	font-size: 1.5rem;
	line-height: 1.4;
}

.textPage p:first-of-type {
	font-size: 2rem;
	font-family: HelveticaNeueMedium, sans-serif;
}

.textPage a {
  color: #878787;
}

.textPage a:hover {
	text-decoration-thickness: 0.2rem;
	text-underline-offset: 0.2rem;
}
/* END OF ABOUT PAGE ELEMENTS DESIGN */


/* CODIGO NOVO DO DUDA */
/* HTML */
/* <main>
	<div class="functionalities">
		<span class="title">discover</span>
		<p>browse through every category, and listen to the nominees work</p>
	</div>

	<div class="functionalities">
		<span class="title">guess</span>
		<p>choose who are your favorites for winning each award</p>
	</div>
	
	<div class="functionalities">
		<span class="title">share</span>
		<p>share your guesses and compare them with your friends'</p>
	</div>
</main> */
/* CSS */
/* main{
  padding: 5% 20%;
}

.functionalities{
  height: 8rem;
}

.title{
  font-family: HelveticaNeueMedium, sans-serif;
  font-size: 2.4rem; 
}

p{
  font-family: HelveticaNeueRoman, sans-serif;
  font-size: 1.3rem; 
}

@media (min-width: 600px)
{
  main{
    width: 100%;
    height: clamp(15vh, 30vw, 30vh);
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 0 18%;
  }

  .functionalities{
   width: 27%;
  }
  
  .title{
   font-family: HelveticaNeueMedium, sans-serif;
   font-size: clamp(2rem, 3.5vw, 2.5rem); 
  }

 p{
   font-family: HelveticaNeueRoman, sans-serif;
   font-size: clamp(0.9rem, 2.2vw, 1.8rem); 
 }
} */